/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@font-face {
  font-family: 'custom-font';
  src: font-url('GlamourBrush-Regular.otf');
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  margin: 10px 0;
  font-family: 'custom-font';
  background-color: #A9A9A9;
  color: white;
  vertical-align: baseline;
  text-transform: uppercase;
  flex-direction: column;
  border-radius: 25px;
}

header h2 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: #87cefa;
  text-transform: uppercase;
  background-color: #D3D3D3;
}


.layout-list {
  display: flex;
}

.layout-list a {
  padding: 0 10px;
}

img {
  border-radius: 50%;
}
