<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <ul>
      <%= error %>
    </ul>
    <% end %>
<% end %>

<form action="<%= users_url %>" method="post">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label for="email">Email: </label>
  <input id="email" type="text" name="user[email]">
  <br>
  <label for="password">Password: </label>
  <input id="password" type="password" name="user[password]">
  <br>
  <input type="submit" value="submit">

</form>
